tipos-variaveis/.vscode/settings.json
operadores-java/.vscode/settings.json
metodos-java/.vscode/settings.json
sistema-smart-tv/.vscode/settings.json
palavras-reservadas/PalavarasReservadas/.vscode/settings.json
exercicios-controle-de-fluxo/.vscode/settings.json
exercicio-case/.vscode/settings.json
loop/nome-idade/.vscode/settings.json
loop/nota/.vscode/settings.json
loop/maior-e-media/.vscode/settings.json
loop/par-impar/.vscode/settings.json
loop/tabuada/.vscode/settings.json
loop/fatorial/.vscode/settings.json
array/ordem-inversa/.vscode/settings.json
array/consoantes/.vscode/settings.json
array/numeros-aleatorios/.vscode/settings.json
array/array-multidimensional/.vscode/settings.json
exercicios-metodos/calculadora/.vscode/settings.json
exercicios-metodos/sobrecarga/.vscode/settings.json
poo/carro/.vscode/settings.json
