tipos-variaveis/.vscode/settings.json
operadores-java/.vscode/settings.json
metodos-java/.vscode/settings.json
sistema-smart-tv/.vscode/settings.json
palavras-reservadas/PalavarasReservadas/.vscode/settings.json
exercicios-controle-de-fluxo/.vscode/settings.json
exercicio-case/.vscode/settings.json
loop/nome-idade/.vscode/settings.json
loop/nota/.vscode/settings.json
loop/maior-e-media/.vscode/settings.json
loop/par-impar/.vscode/settings.json
loop/tabuada/.vscode/settings.json
